h1{
    color:brown;
}
h3{
    color: darkcyan;
}
#wish{
    background-color: cyan;
    color: brown;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 3px solid brown;
    border-radius: 10px;
}
img{
    border: 5px solid brown;
    border-radius: 10px;
}